* {
  margin: 0;
  padding: 0;
}
.navigation {
  padding-top: 20px;
  margin-top: 20px;
  font-family: var(--font1);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-left {
  display: flex;
}
.nav-left span {
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 12px;
}
.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 90px;
}
.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  font-size: 22px;
  font-family: var(--font2);
}
.nav-left ul li a {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.nav-left ul li a:hover {
  color: var(--main-bg-color);
  border-bottom: 2px solid var(--main-bg-color);
  font-weight: 600;
}
.content {
  margin-top: 20px;
  margin-bottom: 20px;
  /* background-color: #C4DFE6; */
  height: 395px;
  display: flex;
  position: relative;
}
.content::after {
  content: "";
  background-image: url("../img/1.jpeg");
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0.15;
  border-radius: 10px;
  
}
.content-left {
  font-family: var(--font1);
  padding: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}
.content-right {
  padding-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-right img {
  height: 300px;

  border: 2px solid var(--main-bg-color);
  border-radius: 200px;
}

.home-article {
  display: flex;
  padding: 15px 40px;
}
.home-article img {
  width: 300px;
  border-radius: 4px;
}
.home-article-content {
  align-self: center;
  padding: 25px;
}
.home-article-content a {
  text-decoration: none;
  color: var(--main-bg-color);
}
.footer {
  color: white;
  height: 50px;
  background-color: var(--main-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer ul {
  display: flex;
  align-items: center;
  margin: 0 90px;
}
.footer ul li {
  list-style: none;
  margin: 0 14px;
  font-size: 20px;
  font-weight: 500;
  font-family: var(--font2);
}
.footer ul li a {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
